<main class="main">
  <div class="content">
    <!-- Menu lateral -->
    <div class="sidebar" id="sidebar">
      <app-gaveta-nav></app-gaveta-nav>
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content">
      <div class="left-side">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 982 239"
          fill="none"
          class="angular-logo"
        >
          <!-- SVG existente -->
        </svg>
        <h1>Olá, Curso de Angular CLI</h1>
       
        <!-- <app-curso></app-curso>    Componente -->
        <app-data-binding></app-data-binding>  
<!--         
        <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo> 
        <button (click)="mudarValor()">Mudar Valor</button>
        <button (click)="destruirCiclo()">Destruir</button> -->
        
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <!-- Conteúdo adicional -->
      </div>
    </div>
  </div>
</main>
