<main class="main">
  <div class="content">
    <!-- Menu lateral -->
    <div class="sidebar" id="sidebar">
      <app-gaveta-nav></app-gaveta-nav>
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content">
      <div class="left-side">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 982 239"
          fill="none"
          class="angular-logo"
        >
          <!-- SVG existente -->
        </svg>
        <h1>Olá, Projeto em modulo Menu lateral</h1>

        <app-curso></app-curso>
        <app-data-binding></app-data-binding>       
        
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <!-- Conteúdo adicional -->
      </div>
    </div>
  </div>
</main>
