 <!-- <section class="property-binding">
  
    <article> 
        <h3> Interpolation / Interpolação </h3>
        <p> String renderizada com Interpolação: {{ url }} </p>
        <p> renderizada com Interpolação 1 + 1 é : {{  1 + 1 }} </p>
        <p> renderizada com Interpolação 1 + 1 não é : {{  1 + 1 + getValor() }} </p>
    </article>

    <article> 
        <h3> Property Binding Com imagem</h3>
        <img src="{{ urlImagem }}">  
        <img [src]="urlImagem"> 

    </article>

    <article>
        <h3> Class e Style Binding </h3>
    
        <div>
            Selecionar uma Classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-danger">Perigo</option>
                <option value="alert-warning">Atenção</option>          
                <option value="alert-info">Informação</option>
            </select>
            <br><br>
        
            <div class="alert" role="alert"
            [class.alert-success]="classe.value == 'alert-success'">
            Sucesso</div>
            <div class="alert" role="alert"
            [class.alert-danger]="classe.value == 'alert-danger'">
            Perigo</div>
            <div class="alert" role="alert"
            [class.alert-warning]="classe.value == 'alert-warning'">
            Atenção</div>
            <div class="alert" role="alert"
            [class.alert-info]="classe.value == 'alert-info'">
            Informação</div>
        </div>          
    
    </article>
  -->
  <!-- <section class = "two-way-binding">

  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">
        Me Clique
      </button>
      <br /><br />
      <input
        type="text"
        (keyup)="onkeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      />

      <p>Valor digitado: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>
    </div> -->
    <!-- <h3>Two-way data binding</h3>
    <div>
        <p>Meu Nome é: {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade e minha profissão é: {{pessoa.profissao}}</p>
                
        <input type="text" 
        [(ngModel)]="pessoa.nome">

        <input type="text" 
        [(ngModel)]="pessoa.idade">
 
        <input type="text" 
        [(ngModel)]="pessoa.profissao">

        <p>Você digitou: {{ nome }}</p>
    </div> -->

<section class="input-output-properties">
        <article>
            <h3>Input/Output Properties</h3>           
            <div>

                <app-curso-input [nome]="nomeCurso"></app-curso-input>
                <contador [valor]="10"
                (mudouValor)="onMudouValor($event)"
                ></contador>
            </div>
         </article>
</section>
